.profile-page {
  position: relative;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  background: #dddbd7;

  color: #211e1a;

  font-family: 'Nunito Sans', sans-serif;

  overflow-x: auto;
}

.profile-page-canvas {
  position: relative;

  width: 1920px;
  height: 1080px;

  margin: 0 auto;

  flex: 0 0 1920px;
}

.profile-page-loading {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-size: 16px;
}